
@{
    ViewBag.Title = "Dash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .card-block {
        cursor: pointer;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-4">
            <div class="card h-100 bg-purple">
                <div class="card-block">
                    <h2 class="m-b-20 text-center text-white">6120</h2>
                    <p class="m-b-30 text-center text-white">Total no. of Employees Register</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-4">
            <div class="card h-100  bg-maroon">
                <div class="card-block">
                    <h2 class="m-b-20 text-center text-white">450</h2>
                    <p class="m-b-30 text-center text-white">Rejected</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-4">
            <div class="card h-100  bg-success">
                <div class="card-block">
                    <h2 class="m-b-20 text-center text-white">378</h2>
                    <p class="m-b-30 text-center text-white">Accept</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-4 mt-5">
            <div class="card h-100  bg-warning">
                <div class="card-block">
                    <h2 class="m-b-20 text-center text-white">1120</h2>
                    <p class="m-b-30 text-center text-white">Panding Request</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-4 4 mt-5">
            <div class="card h-100  bg-secondary">
                <div class="card-block">
                    <h2 class="m-b-20 text-center text-white">1120</h2>
                    <p class="m-b-30 text-center text-white">Reimburement</p>
                </div>
            </div>
        </div>
    </div>
</div>

