
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<form class="form-control border w-75 align-center h-auto bg-orange p-3">
    <h1 class="mx-lg-5 border-end">Login</h1>
    <div class="form-group align-content-center">
        <input type="text" placeholder="User id" class="form-group w-50 mx-5">
        <input type="text" placeholder="Enter password" class="form-group w-50 mx-5">
        <br>
        <div class="button-box">
            <button type="button" class="btn btn-white w-50 mx-5">Log In</button>
        </div>

    </div>
</form>





